/* profile */
.about {
	margin-top: 1em;
}
.profile-content {
    position: relative;
}
figure {
    padding: 4em 1em;
}
.text {
    background: rgba(200, 221, 142, .9);
    margin-left: 180px;
    padding: 2em;
    max-width: 700px;
	max-height: 540px;
	overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 1em;
    h2 {
        color: #fff;
        font-size: em(40);
        margin-top: 0;
    }
	h3 {
		font-size: 1em;
	}
}

/* well */
.well {
	background: rgba(200, 221, 142, .9);
	padding: .1px 5% 1em 5%;
}

/* buttons */
.button {
	display: inline-block;
	background: $green;
	color: #000;
	padding: 0.5em;
	margin: 0.5em;
	text-decoration: none;
	&.download:after {
		content: "\21a7";
		margin-left: 3px;
	}
	&:hover {
		box-shadow: 3px 3px 0 $darkgreen;
	}
}

/* cirriculum */
.cirriculum {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	&> section {
		width: 50%;
		padding: 0 3em 0 0;
	}
}