/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    &.narrow {
        max-width: 900px;
    }
    &.center-align {
        text-align: center;
    }
}
main {
	padding-top: 2em;
}