.about {
    margin-top: 10em;
}
.profile-content {
    position: relative;
}
figure {
    padding: 4em 1em;
}
.text {
    background: rgba(200, 221, 142, .9);
    margin-left: 180px;
    padding: 1em 2em;
    max-width: 700px;
    position: absolute;
    top: 0;
    right: 1em;
    h2 {
        color: #fff;
        font-size: em(48);
        margin-top: 0;
    }
}