body {
    font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
    
}
h2 {
    font-family: 'PT Mono', monospace;
    font-size: 4em;
    color: $green;
    line-height: 1.2; 
    margin-bottom: 0;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.6em;
	margin: 1.5em 0 0.8em 0;
}
h5 {
    font-size: 1.2em;
	margin: 1.5em 0 0.8em 0;
}
h6 {
    font-size: 1em;
    margin-bottom: 0;
}
p {
    font-size: 1.125em;
    &.intro {
        font-family: 'PT Serif', serif;
        font-size: 2em;
        margin: 2em 0 3em 0;
        small {
            display: block;
            font-size: 1.125/2*1em;
            margin: 1em;
        }
    }
}
li {
    
}
p, li {
	line-height: 1.8;
	max-width: 30em;
}