body {
    font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
    
}
h2 {
    font-family: 'PT Mono', monospace;
    font-size: 4em;
    color: $green;
    line-height: 1.2; 
    margin-bottom: 0;
}
h3 {
    font-size: 2em;
}
h4 {
    
}
h5 {
    
}
h6 {
    
}
p {
    font-size: 1.125em;
    &.intro {
        font-family: 'PT Serif', serif;
        font-size: 2em;
        margin: 4em 0 6em 0;
        small {
            display: block;
            font-size: 1.125/2*1em;
            margin: 1em;
        }
    }
}
li {
    
}